# Ignore node modules
node_modules
npm-debug.log
yarn-error.log

# Ignore build artifacts
build
dist

# Ignore version control
.git
.gitignore

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore local environment files
.env
*.local

# Ignore OS/system files
.DS_Store
Thumbs.db
